.container {
  width: 50%;
  margin: auto;
}

.titulo {
  font-size: 2rem;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.button_confirm {
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 10px;
  color: white;
}