
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitado al evento</title>

    <style>
        .button_confirm {
            display: block;
            height: 30px !important;
            width: 30px !important;
            background-color: red;
            border-radius: 10px;
            color: white;
            padding: 20px;
            text-decoration: none;
        }
    </style>
</head>

<body>

    <a class="button_confirm" href="{{url}}">Comfirm</a>

</body>

</html>